.skills__line {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F5F5F5;
}

.skills__box {
    position: relative;
    width: 15%;
    height: 10rem;
    margin-top: 2rem;
}

.skills__box img, .skills__box ul, .skills__box li, .skills__box {
    background-color: white;
}

.skills__box ul {
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
    font-weight: bold;
}

.skills__img img {
    width: 4rem;
    position: relative;
    padding-bottom: 1rem;
}

.skills__img.js img{
    width: 7rem;
}

.skills__img.CSS img{
    width: 3rem;
}

.skills__img.html img {
    width: 5rem;
}

@media (max-width: 768px) {
    .skills__line {
        justify-content: center;
    }

    .skills__box {
        width: 25%;
        height: 7rem;
        margin: 1rem;
    }
}

@media (max-width: 425px) {
    .skills__img.js img{
        width: 4rem;
    }
    
    .skills__img.CSS img{
        width: 2rem;
    }
    
    .skills__img.html img {
        width: 3rem;
    }

    .skills__img.angular img {
        width: 2.5rem;
    }

    .skills__img img {
        width: 3rem;
    }

    .skills__line {
        gap: 1rem;
    }

    .skills__box {
        width: 40%;
        margin: 0;
        padding: .5rem;
    }
}