.experience__box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
    background-color: #F5F5F5;
}

.experience__info, .experience__text, .experience__title, .experience__description, .experience__section__title {
    background-color: #F5F5F5;
}

.experience__box:nth-child(3),
.experience__box:nth-child(5) {
    flex-direction: row-reverse;
}

.experience__img {
    width: 60%;
}

.experience__title {
    font-size: 1.5rem;
}

.experience__text {
    font-weight: normal;
    font-size: 1rem;
}

.experience__info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.experience__btn-repo {
    padding: .8rem;
    color: #2A7AE4;
    background-color: #F5F5F5;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    transition: all 150ms;
}

.experience__btn-demo {
    padding: .8rem;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    color: white;
    cursor: pointer;
    transition: all 150ms;
}

.experience__btn-repo:hover {
    color: white;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
}

.experience__btn-demo:hover {
    color: #2A7AE4;
    background-color: #F5F5F5;
    border: 1px solid #2A7AE4;
}

@media (max-width: 768px) {
    .experience__box {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience__box:nth-child(3),
    .experience__box:nth-child(5) {
        flex-direction: column;
    }

    .experience__img {
        width: 100%;
    }
}